name: Cypress E2E

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress
        env:
          CYPRESS_baseUrl: http://localhost:9090
        run: npx cypress run
